server:
  port: 8080
  servlet:
    context-path: /
  tomcat:
    uri-encoding: UTF-8
    threads:
      min-spare: 10
      max: 200
    accept-count: 100
    max-connections: 8192
    connection-timeout: 5s
spring:
  application:
    name: sharding-app
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true
  profiles:
    active: dev
  web:
    resources:
      static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
    locale: zh_CN
    locale-resolver: accept_header
  mvc:
    log-request-details: true
    static-path-pattern: /**
    webjars-path-pattern: /webjars/**
    pathmatch:
      matching-strategy: path_pattern_parser
    contentnegotiation:
      favor-parameter: true
      parameter-name: format
    problemdetails:
      enabled: true
  servlet:
    multipart:
      max-file-size: 16MB
      max-request-size: 32MB
  jackson:
    timeZone: GMT+8
    default-property-inclusion: non_null
  messages:
    basename: 'i18n/messages'
    encoding: UTF-8
    cache-duration: 3600
  autoconfigure:
    exclude:
      # 排除 Druid 的自动配置，使用 dynamic-datasource-spring-boot-starter 配置多数据源
      - com.alibaba.druid.spring.boot3.autoconfigure.DruidDataSourceAutoConfigure
  data:
    redis:
      connect-timeout: 10s
      timeout: 3s
      username: default
      password: 123456
      host: localhost
      port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 30m
      cache-null-values: true
      use-key-prefix: true
      key-prefix: "cache:"
  datasource:
    dynamic:
      datasource:
        master:
          driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
          url: jdbc:shardingsphere:classpath:sharding.yml

mybatis-plus:
  mapper:
    base-package: com.example.mapper
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.xtrarust.cloud.sharding.entity
  configuration:
    cache-enabled: false
    map-underscore-to-camel-case: true
    lazy-loading-enabled: false
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    banner: true
    db-config:
      id-type: NONE
      # 逻辑删除字段名
      logic-delete-field: deleted
      # 解决唯一索引与逻辑删除冲突问题（建立唯一索引时需加上逻辑删除字段）
      logic-delete-value: UNIX_TIMESTAMP()
      logic-not-delete-value: 0