server:
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain # 压缩类型
    min-response-size: 1024 # 最小压缩阈值（字节）
spring:
  data:
    redis:
      connect-timeout: 10s
      timeout: 3s
      password: 123456
      host: localhost
  cloud:
    loadbalancer:
      retry:
        enabled: true
      cache:
        caffeine:
          spec: "maximumSize=1000,expireAfterWrite=15s"
    gateway:
      server:
        webflux:
          httpclient:
            connect-timeout: 5000
            response-timeout: 60s
            pool:
              type: elastic
          globalcors:
            corsConfigurations:
              '[/**]':
                allowedOriginPatterns: "*"
                allowed-methods: "*"
                allowed-headers: "*"
                allow-credentials: true
                exposedHeaders: "Content-Disposition,Content-Type,Cache-Control"
          routes:
          - id: message-resource
            uri: lb://message-resource
            predicates:
            - Path=/message/**
            filters:
            - name: RequestRateLimiter
              args:
                key-resolver: '#{@remoteAddrKeyResolver}'
                redis-rate-limiter.replenishRate: 100
                redis-rate-limiter.burstCapacity: 200
                redis-rate-limiter.requestedTokens: 1
knife4j:
  gateway:
    # 启用OpenAPI规范文档聚合
    enabled: true
    # 服务发现(自动聚合)
    strategy: discover
    discover:
      version: OpenAPI3
      enabled: true