server:
  port: 9000
spring:
  application:
    name: rabbit-server
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude:
      # 排除 Druid 的自动配置，使用 dynamic-datasource-spring-boot-starter 配置多数据源
      - com.alibaba.druid.spring.boot3.autoconfigure.DruidDataSourceAutoConfigure
  profiles:
    active: local
  datasource:
    druid:
      stat-view-servlet:
        enabled: true
        allow: # 设置白名单，不填则允许所有访问
        url-pattern: /druid/*
        loginUsername: admin
        loginPassword: 123456
    dynamic:
      druid:
        initial-size: 5
        min-idle: 10
        max-active: 20
        max-wait: 30_000
        time-between-eviction-runs-millis: 60_000
        min-evictable-idle-time-millis: 300_000
        max-evictable-idle-time-millis: 900_000
        validation-query: SELECT 1 FROM DUAL
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
        filters: stat,wall
        stat:
          merge-sql: true
          log-slow-sql: true
          slow-sql-millis: 1000
        wall:
          multi-statement-allow: true
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/rabbit?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8&allowMultiQueries=true&autoReconnect=true&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true
          username: root
          password: root@123
        slave:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://127.0.0.1:3306/rabbit?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8&allowMultiQueries=true&autoReconnect=true&nullCatalogMeansCurrent=true&rewriteBatchedStatements=true
          username: root
          password: root@123
  task:
    execution:
      thread-name-prefix: spring-async-task-
      pool:
        core-size: 10
        max-size: 100
        queue-capacity: 256
        keep-alive: 60s
        allow-core-thread-timeout: false
      shutdown:
        await-termination: true
        await-termination-period: 60s
    scheduling:
      thread-name-prefix: spring-scheduling-
      pool:
        size: 20
      shutdown:
        await-termination: true
        await-termination-period: 60s
  # RabbitMQ 配置项，对应 RabbitProperties 配置类
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: admin
    password: wdxu@001
    virtual-host: /
    connection-timeout: 10s
    # Publisher Confirms and Returns
    publisher-confirm-type: correlated
    publisher-returns: true
    cache:
      channel:
        size: 25
    template:
      retry:
        enabled: true
        initial-interval: 1000ms
        max-attempts: 3
        max-interval: 10000ms
        multiplier: 1
    listener:
      type: simple
      simple:
        auto-startup: true
        prefetch: 64
        # 并发消费 消费者数量
        concurrency: 5
        max-concurrency: 10
        # 手动ACK
        acknowledge-mode: manual
        # 自动签收消费失败是否重回队列 默认true
        default-requeue-rejected: false
        # 是否开启消费者重试
        retry:
          enabled: false
          max-attempts: 3
          multiplier: 1.5
          initial-interval: 1000ms
          max-interval: 10000ms
mybatis-plus:
  mapper:
    base-package: com.xtrarust.cloud.rabbit.mapper
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.xtrarust.cloud.rabbit.entity
  configuration:
    cache-enabled: false
    map-underscore-to-camel-case: true
    lazy-loading-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    banner: true
    db-config:
      id-type: NONE
      # 逻辑删除字段名
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
xxl:
  job:
    enabled: false
    # 执行器通讯token
    accessToken: Xwn8HCVs
    # 调度器地址
    admin:
      addresses: http://116.196.77.168:9003/xxl-job-admin
    executor:
      # 执行器应用名
      app-name: ${spring.application.name}
      # 执行器日志路径
      log-path: ${user.home}/logs/xxl-job/${spring.application.name}

logging:
  file:
    name: ${user.home}/logs/${spring.application.name}.log